@{
    ViewData["Title"] = "دانش و فناوری بامداد";
}

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <title>دانش و فناوری بامداد</title>
    <style type="text/css">
        th {
            height: 50px;
            border: 1px solid black;
            background-color: #034799;
            text-align: center;
            font-size: 15px;
            color: white;
            font-weight: bold;
        }
        td {
            border: 1px solid black;
            text-align: center;
            background-color: white;
            font-size: 14px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <form method="post">
        <table id="tbl" style="width: 100%; font-family: 'B Yekan';">
            <tr>
                <th>کد رهگیری</th>
                <th>شماره سفارش</th>
                <th>شماره تراکنش بانک</th>
                <th>وضیعت پرداخت</th>
            </tr>
            <tr>
                <td>
                    @ViewBag.SaleReferenceId ?? "ندارد"
                </td>
                <td>
                    @ViewBag.SaleOrderId ?? "ندارد"
                </td>
                <td>
                    @ViewBag.RefId ?? "ندارد"
                </td>
                <td>
                    @ViewBag.PaymentStatusMessage ?? "ندارد"
                </td>
            </tr>
        </table>
        <div style="text-align: center; margin-top: 20px;">
            <span style="color: red; font-weight: bold; font-family: 'B Yekan', Tahoma; font-size: 18px;">
                @ViewBag.ErrorMessage
            </span>
        </div>
    </form>
</body>
</html>
